# **Cricket Match Dataset: Test Nations (1877â€“2025):**

## **Data Engineering:**

In [ ]:
# Processed data we have:
data.head(3)

In [ ]:
data.columns

#### 1. **Create month column from the dataset:**

In [ ]:
# add month column to the dataframe:
data["month"]= data["start_date"].dt.month

data["month"].unique()

In [ ]:
data['month'].mode() # to know the most frequently occuring month

In [ ]:
# replace nan by most frequently occuring value of the column:
data["month"].fillna(data["month"].mode(), inplace= True)

In [ ]:
# Map numeric month values to actual month names:
month_mapping = {
    1.0: 'Jan', 2.0: 'Feb', 3.0: 'Mar', 4.0: 'Apr',
    5.0: 'May', 6.0: 'Jun', 7.0: 'Jul', 8.0: 'Aug',
    9.0: 'Sep', 10.0: 'Oct', 11.0: 'Nov', 12.0: 'Dec'
}
# Apply the mapping to the 'Month' column:
data['month'] = data['month'].map(month_mapping)

In [ ]:
data.head(3)