# **Rape Cases in India Data Engineering:**

In [ ]:
import os
import sys
import warnings
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
!%matplotlib inline  # Ensures plots appear in the notebook
sns.set_theme(style="whitegrid")  # Sets plot theme
import plotly.express as px
import plotly.graph_objects as go
warnings.filterwarnings("ignore") # Ignore warnings

pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.float_format', lambda x: '%.2f' % x)  # Format floats nicely

from IPython.display import display, HTML, Markdown
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%load_ext autoreload
%autoreload 2
! pip install tqdm
from tqdm.notebook import tqdm

#!pip install jupyterthemes
# Example (after installing): 
#jt -t monokai # This applies the Monokai theme (dark theme).
# jt -l # You can see all built-in themes 
# jt -t monokai -fs 12 -tfs 12 -nfs 12 -cellw 90% -T -N #Set a dark theme, bigger font, wider cells:
# jt -t grade3 -fs 11 -cellw 88% -lineh 170  # Use Grade3 (light theme) with custom settings
# !jt -r # Reset to default theme
# !jt -t grade3 -ofs 12 -nfs 12 -tfs 12 -cellw 88%

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

'%matplotlib' is not recognized as an internal or external command,
operable program or batch file.

Requirement already satisfied: tqdm in c:\users\mymachine\appdata\local\programs\python\python312\lib\site-packages (4.67.1)
Requirement already satisfied: colorama in c:\users\mymachine\appdata\local\programs\python\python312\lib\site-packages (from tqdm) (0.4.6)

usage: jt [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE] [-nf NBFONT]
          [-nfs NBFONTSIZE] [-tf TCFONT] [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
          [-ofs OUTFONTSIZE] [-mathfs MATHFONTSIZE] [-m MARGINS]
          [-cursw CURSORWIDTH] [-cursc CURSORCOLOR] [-cellw CELLWIDTH]
          [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout] [-P] [-T] [-N] [-kl]
          [-vim] [-r] [-dfonts]
jt: error: unrecognized arguments: # This applies the Monokai theme (dark theme).

In [12]:
data1= pd.read_csv("../data/NCRB_2001_Table_28.csv")
data1.shape

(74, 26)

In [13]:
data2= pd.read_csv("../data/NCRB_2002_Table_5.3.csv")
data2.shape

(74, 26)

In [14]:
data3= pd.read_csv("../data/NCRB_2003_Table_5.3.csv")
data3.shape

(74, 26)

In [31]:
data4= pd.read_csv("../data/NCRB_2005-Table_5.3.csv")
data4.shape

(74, 26)

In [32]:
data5= pd.read_csv("../data/NCRB_2006_Table_5.3.csv")
data5.shape

(74, 27)

In [33]:
data6= pd.read_csv("../data/NCRB_2007_Table_5.3.csv")
data6.shape

(74, 26)

In [34]:
data7= pd.read_csv("../data/NCRB_2009_Table_5.3.csv")
data7.shape

(74, 26)

In [36]:
data8= pd.read_csv("../data/NCRB_2010-Table_5.3.csv")
data8.shape

(74, 26)

In [37]:
data9= pd.read_csv("../data/NCRB_2011_Table_5.3.csv")
data9.shape

(92, 26)

In [40]:
data10= pd.read_csv("../data/NCRB_CII-2019_Table_3A.11.csv")
data10.shape

(39, 29)

In [43]:
data11= pd.read_csv("../data/Table_5.3-2015.csv", encoding= "ISO-8859-1")
data11.shape

(39, 33)

In [44]:
# Load all datasets into a dictionary for easy comparison
datasets = {
    "data1": pd.read_csv("../data/NCRB_2001_Table_28.csv"),
    "data2": pd.read_csv("../data/NCRB_2002_Table_5.3.csv"),
    "data3": pd.read_csv("../data/NCRB_2003_Table_5.3.csv"),
    "data4": pd.read_csv("../data/NCRB_2005-Table_5.3.csv"),
    "data5": pd.read_csv("../data/NCRB_2006_Table_5.3.csv"),
    "data6": pd.read_csv("../data/NCRB_2007_Table_5.3.csv"),
    "data7": pd.read_csv("../data/NCRB_2009_Table_5.3.csv"),
    "data8": pd.read_csv("../data/NCRB_2010-Table_5.3.csv"),
    "data9": pd.read_csv("../data/NCRB_2011_Table_5.3.csv")
}

In [46]:
# Check column names for each dataset
column_names = {name: df.columns.tolist() for name, df in datasets.items()}

# Print column names for inspection
for name, columns in column_names.items():
    print(f"{name}: {len(columns)} columns")
    print(columns)
    print("-" * 50)

data1: 26 columns
['Category', 'States/UTs/Cities', 'No. of Cases Reported (Incest Rape Cases)', 'No. of Victims (Incest Rape Cases) upto 10 Years', 'No. of Victims (Incest Rape Cases) - 10 - 14 Years', 'No. of Victims (Incest Rape Cases) - 14 - 18 Years', 'No. of Victims (Incest Rape Cases) - 18 - 30 Years', 'No. of Victims (Incest Rape Cases) - 30 - 50 Years', 'No. of Victims (Incest Rape Cases) above 50 Years', 'No. of Victims (Incest Rape Cases) - Total Victims', 'No. of Cases Reported (Other Rape Cases)', 'No. of Victims (Other Rape Cases) upto 10 Years', 'No. of Victims (Other Rape Cases) - 10 - 14 Years', 'No. of Victims (Other Rape Cases) - 14 - 18 Years', 'No. of Victims (Other Rape Cases) - 18 - 30 Years', 'No. of Victims (Other Rape Cases) - 30 - 50 Years', 'No. of Victims (Other Rape Cases) above 50 Years', 'No. of Victims (Other Rape Cases) - Total Victims', 'No. of Cases Reported (Total Rape Cases)', 'No. of Victims (Total Rape Cases) upto 10 Years', 'No. of Victims (Total Rape Cases) - 10-14 Years', 'No. of Victims (Total Rape Cases) - 14 - 18 Years', 'No. of Victims (Total Rape Cases) - 18 - 30 Years', 'No. of Victims (Total Rape Cases) - 30 - 50 Years', 'No. of Victims (Total Rape Cases) above 50 Years', 'No. of Victims (Total Rape Cases) - Total Victims']
--------------------------------------------------
data2: 26 columns
['Category', 'States/ UTs/ Cities', 'No. of Cases Reported (Incest Rape)', 'No. of Victims (Incest Rape ) - Upto 10 Years', 'No. of Victims (Incest Rape ) - 10 - 14 Years', 'No. of Victims (Incest Rape ) - 14 - 18 Years', 'No. of Victims (Incest Rape ) - 18 - 30 Years', 'No. of Victims (Incest Rape ) - 30 - 50 Years', 'No. of Victims (Incest Rape ) - Above 50 Years', 'No. of Victims (Incest Rape ) - Total Victims', 'No. of Cases Reported (Other Rape )', 'No. of Victims (Other Rape ) - Upto 10 Years', 'No. of Victims (Other Rape ) - 10 - 14 Years', 'No. of Victims (Other Rape ) - 14 - 18 Years', 'No. of Victims (Other Rape ) - 18 - 30 Years', 'No. of Victims (Other Rape ) - 30 - 50 Years', 'No. of Victims (Other Rape ) - Above 50 Years', 'No. of Victims (Other Rape ) - Total Victims', 'No. of Cases Reported Rape Cases (Total)', 'No. of Victims Rape Cases (Total) - Upto 10 Years', 'No. of Victims Rape Cases (Total) - 10 - 14 Years', 'No. of Victims Rape Cases (Total) - 14 - 18 Years', 'No. of Victims Rape Cases (Total) - 18 - 30 Years', 'No. of Victims Rape Cases (Total) - 30 - 50 Years', 'No. of Victims Rape Cases (Total) - Above 50 Years', 'No. of Victims Rape Cases (Total) - Total Victims']
--------------------------------------------------
data3: 26 columns
['Category', 'States/ UTs/Cities', 'Incest (Rape) - No. of Cases Reported', 'Incest (Rape) No. of Victims - Upto 10 Years', 'Incest (Rape) No. of Victims - (10-14) Years', 'Incest (Rape) No. of Victims - (14-18) Years', 'Incest (Rape) No. of Victims - (18-30)Years', 'Incest (Rape) No. of Victims - (30-50) Years', 'Incest (Rape) No. of Victims - Above 50 Years', 'Incest (Rape) No. of Victims - Total Victims', 'Other (Rape) - No. of Cases Reported', 'Other (Rape) No. of Victims - Upto 10 Years', 'Other (Rape) No. of Victims - (10-14) Years', 'Other (Rape) No. of Victims - (14-18) Years', 'Other (Rape) No. of Victims - (18-30)Years', 'Other (Rape) No. of Victims - (30-50) Years', 'Other (Rape) No. of Victims - Above 50 Years', 'Other (Rape) No. of Victims - Total Victims', 'Rape Cases (Total) - No. of Cases Reported', 'Rape Cases (Total) No. of Victims - Upto 10 Years', 'Rape Cases (Total) No. of Victims - (10-14) Years', 'Rape Cases (Total) No. of Victims - (14-18) Years', 'Rape Cases (Total) No. of Victims - (18-30)Years', 'Rape Cases (Total) No. of Victims - (30-50) Years', 'Rape Cases (Total) No. of Victims - Above 50 Years', 'Rape Cases (Total) No. of Victims - Total Victims']
--------------------------------------------------
data4: 26 columns
['Category', 'States/UTs/Cities', 'Incest (Rape)--No. of Cases Reported', 'Incest (Rape)- - No. of Victims Upto 10 Years', 'Incest (Rape)- No. of Victims 10 - 14 Years', 'Incest (Rape)- No. of Victims 14 - 18 Years', 'Incest (Rape)- No. of Victims 18 - 30 Years', 'Incest (Rape)- No. of Victims 30 - 50 Years', 'Incest (Rape)- No. of Victims Above 50 Years', 'Incest (Rape)- No. of Victims - Total', 'Other (Rape)- No. of Cases Reported', 'Other (Rape)- No. of Victims Upto 10 Years', 'Other (Rape)- No. of Victims 10 - 14 Years', 'Other (Rape)- No. of Victims 14 - 18 Years', 'Other (Rape)- No. of Victims 18 - 30 Years', 'Other (Rape)- No. of Victims 30 - 50 Years', 'Other (Rape)- No. of Victims Above 50 Years', 'Other (Rape)- No. of Victims - Total', 'Total Rape - - No. of Cases Reported', 'Total Rape - No. of Victims Upto 10 Years', 'Total Rape - No. of Victims 10 - 14 Years', 'Total Rape - No. of Victims 14 - 18 Years', 'Total Rape - No. of Victims 18 - 30 Years', 'Total Rape - No. of Victims 30 - 50 Years', 'Total Rape - No. of Victims Above 50 Years', 'Total Rape - No. of Victims - Grand Total']
--------------------------------------------------
data5: 27 columns
['Sr. No.', 'Category', 'State/UTs/Cities', 'Incest (Rape) - No. of Cases Reported', 'Incest (Rape) No. of Victims - Upto 10 Years', 'Incest (Rape) No. of Victims - 10-14 Years', 'Incest (Rape) No. of Victims - 14-18 Years', 'Incest (Rape) No. of Victims - 18-30 Years', 'Incest (Rape) No. of Victims - 30-50 Years', 'Incest (Rape) No. of Victims - Above 50 Years', 'Incest (Rape) No. of Victims - Total Victims', 'Other (Rape) No. of Cases Reported', 'Other (Rape) No. of Victims - Upto 10 Years', 'Other (Rape) No. of Victims - 10-14 Years', 'Other (Rape) No. of Victims - 14-18 Years', 'Other (Rape) No. of Victims - 18-30 Years', 'Other (Rape) No. of Victims - 30-50 Years', 'Other (Rape) No. of Victims - Above 50 Years', 'Other (Rape) No. of Victims - Total Victims', 'Rape Cases (Total) - No. of Cases Reported', 'Rape Cases (Total) - No. of Victims - Upto 10 Years', 'Rape Cases (Total) - No. of Victims - 10-14 Years', 'Rape Cases (Total) - No. of Victims - 14-18 Years', 'Rape Cases (Total) - No. of Victims - 18-30 Years', 'Rape Cases (Total) - No. of Victims - 30-50 Years', 'Rape Cases (Total) - No. of Victims - Above 50 Years', 'Rape Cases (Total) - No. of Victims - Total Victims']
--------------------------------------------------
data6: 26 columns
['Category', 'States/ UTs/ Cities', 'No. of Incest (Rape) Cases Reported', 'No. of Victims of Incest (Rape) - Upto 10 Years', 'No. of Victims of Incest (Rape) - 10 - 14 Years', 'No. of Victims of Incest (Rape) - 14 - 18 Years', 'No. of Victims of Incest (Rape) - 18 - 30 Years', 'No. of Victims of Incest (Rape) - 30 - 50 Years', 'No. of Victims of Incest (Rape) - Above 50 Years', 'No. of Victims of Incest (Rape) - Total Victims', 'No. of Other (Rape) Cases Reported', 'No. of Victims of Other (Rape) - Upto 10 Years', 'No. of Victims of Other (Rape) - 10 - 14 Years', 'No. of Victims of Other (Rape) - 14 - 18 Years', 'No. of Victims of Other (Rape) - 18 - 30 Years', 'No. of Victims of Other (Rape) - 30 - 50 Years', 'No. of Victims of Other (Rape) - Above 50 Years', 'No. of Victims of Other (Rape) - Total Victims', 'No. of Rape Cases (Total) Reported', 'No. of Victims of Rape Cases (Total) - Upto 10 Years', 'No. of Victims of Rape Cases (Total) - 10 - 14 Years', 'No. of Victims of Rape Cases (Total) - 14 - 18 Years', 'No. of Victims of Rape Cases (Total) - 18 - 30 Years', 'No. of Victims of Rape Cases (Total) - 30 - 50 Years', 'No. of Victims of Rape Cases (Total) - Above 50 Years', 'No. of Victims of Rape Cases (Total) - Total Victims']
--------------------------------------------------
data7: 26 columns
['Category', 'States/ UTs/ Cities', 'No. of Incest (Rape) Cases Reported', 'No. of Victims of Incest (Rape) - Upto 10 Years', 'No. of Victims of Incest (Rape) - 10-14 Years', 'No. of Victims of Incest (Rape) - 14-18 Years', 'No. of Victims of Incest (Rape) - 18-30 Years', 'No. of Victims of Incest (Rape) - 30-50 Years', 'No. of Victims of Incest (Rape) - Above 50 Years', 'No. of Victims of Incest (Rape) - Total Victims', 'No. of Other (Rape) Cases Reported', 'No. of Victims of Other (Rape) - Upto 10 Years', 'No. of Victims of Other (Rape) - 10-14 Years', 'No. of Victims of Other (Rape) - 14-18 Years', 'No. of Victims of Other (Rape) - 18-30 Years', 'No. of Victims of Other (Rape) - 30-50 Years', 'No. of Victims of Other (Rape) - Above 50 Years', 'No. of Victims of Other (Rape) - Total Victims', 'No. of Rape Cases (Total) Reported', 'No. of Victims of Rape Cases (Total) - Upto 10 Years', 'No. of Victims of Rape Cases (Total) - 10-14 Years', 'No. of Victims of Rape Cases (Total) - 14-18 Years', 'No. of Victims of Rape Cases (Total) - 18-30 Years', 'No. of Victims of Rape Cases (Total) - 30-50 Years', 'No. of Victims of Rape Cases (Total) - Above 50 Years', 'No. of Victims of Rape Cases (Total) - Total Victims']
--------------------------------------------------
data8: 26 columns
['Category', 'States/ UTs/ Cities', 'No. of Incest (Rape) Cases Reported', 'No. of Victims of Incest (Rape) - Upto 10 Years', 'No. of Victims of Incest (Rape) - 10-14 Years', 'No. of Victims of Incest (Rape) - 14-18 Years', 'No. of Victims of Incest (Rape) - 18-30 Years', 'No. of Victims of Incest (Rape) - 30-50 Years', 'No. of Victims of Incest (Rape) - Above 50 Years', 'No. of Victims of Incest (Rape) - Total Victims', 'No. of Other (Rape) Cases Reported', 'No. of Victims of Other (Rape) - Upto 10 Years', 'No. of Victims of Other (Rape) - 10-14 Years', 'No. of Victims of Other (Rape) - 14-18 Years', 'No. of Victims of Other (Rape) - 18-30 Years', 'No. of Victims of Other (Rape) - 30-50 Years', 'No. of Victims of Other (Rape) - Above 50 Years', 'No. of Victims of Other (Rape) - Total Victims', 'No. of Rape Cases (Total) Reported', 'No. of Victims of Rape Cases (Total) - Upto 10 Years', 'No. of Victims of Rape Cases (Total) - 10-14 Years', 'No. of Victims of Rape Cases (Total) - 14-18 Years', 'No. of Victims of Rape Cases (Total) - 18-30 Years', 'No. of Victims of Rape Cases (Total) - 30-50 Years', 'No. of Victims of Rape Cases (Total) - Above 50 Years', 'No. of Victims of Rape Cases (Total) - Total Victims']
--------------------------------------------------
data9: 26 columns
['Category', 'States/ UTs/ Cities', 'No. of Incest (Rape) Cases Reported', 'No. of Victims of Incest (Rape) - Upto 10 Years', 'No. of Victims of Incest (Rape) - 10-14 Years', 'No. of Victims of Incest (Rape) - 14-18 Years', 'No. of Victims of Incest (Rape) - 18-30 Years', 'No. of Victims of Incest (Rape) - 30-50 Years', 'No. of Victims of Incest (Rape) - Above 50 Years', 'No. of Victims of Incest (Rape) - Total Victims', 'No. of Other (Rape) Cases Reported', 'No. of Victims of Other (Rape) - Upto 10 Years', 'No. of Victims of Other (Rape) - 10-14 Years', 'No. of Victims of Other (Rape) - 14-18 Years', 'No. of Victims of Other (Rape) - 18-30 Years', 'No. of Victims of Other (Rape) - 30-50 Years', 'No. of Victims of Other (Rape) - Above 50 Years', 'No. of Victims of Other (Rape) - Total Victims', 'No. of Rape Cases (Total) Reported', 'No. of Victims of Rape Cases (Total) - Upto 10 Years', 'No. of Victims of Rape Cases (Total) - 10-14 Years', 'No. of Victims of Rape Cases (Total) - 14-18 Years', 'No. of Victims of Rape Cases (Total) - 18-30 Years', 'No. of Victims of Rape Cases (Total) - 30-50 Years', 'No. of Victims of Rape Cases (Total) - Above 50 Years', 'No. of Victims of Rape Cases (Total) - Total Victims']
--------------------------------------------------

In [47]:
# Identify datasets with matching column names:
reference_columns = datasets["data1"].columns.tolist()  # Use data1 as the reference
matching_datasets = {name: df for name, df in datasets.items() if df.columns.tolist() == reference_columns}

In [49]:
# Vertically stack datasets with matching columns
if len(matching_datasets) > 1:
    combined_data = pd.concat(matching_datasets.values(), axis=0, ignore_index=True)
    print(f"Combined dataset shape: {combined_data.shape}")
else:
    print("No datasets with matching columns to stack.")

No datasets with matching columns to stack.



### Explanation:
1. **Step 1:** Load all datasets into a dictionary for easy iteration and comparison.
2. **Step 2:** Extract and print the column names of each dataset to inspect differences.
3. **Step 3:** Compare the column names of each dataset with a reference dataset (e.g., `data1`).
4. **Step 4:** Use `pd.concat()` to vertically stack datasets with matching columns.

### Notes:
- If `data5` has one extra column, you can handle it by dropping the extra column before stacking or by aligning columns explicitly.
- If you want to handle datasets with minor column mismatches, you can use `pd.concat()` with the `join='inner'` or `join='outer'` parameter to align columns.